/*Footer*/
footer {
    text-align: center;
    background-color: #2D3435;
    margin-top: 5vh;
}

.btn-cv-footer {
    cursor: pointer;
    font-size: 4.5vw;
    font-weight: 400;
    border-radius: 1vh;
    transition-property: background-color, border-color, color, box-shadow, filter;
    transition-duration: 0.3s;
    text-align: center;
    color: #fff;
    background-color: #F4B6C2;
    height: 2vw;
    border: solid 0.2vw #F4B6C2;
    margin-top: 1.5vh;
    width: 50vw;
    height: 8vw;
}

.btn-cv-footer:hover {
    color: #F4B6C2;
    background-color: transparent;
}

.p-footer {
    font-size: 3.5vw;
    margin: 0;
    padding: 1.5vh;
    color: #ffffff;
}

.img-footer {
    height: 4vw;
    padding: 0;
    margin: 0;
    margin-left: 3vw;
    margin-right: 3vw;
}