* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.header-background {
    background-color: #FFFAEF;
    height: 100vh;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header {
    margin-top: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

.box-top-header {
    display: flex;
    height: 3vh;
    padding: 0;
}

.container-down-arrow {
    text-align: center;
    margin-top: 20vw;
    width: 100%;
}

.down-arrow {
    width: 8vw;
    position: absolute;
    top: 94vh;
    left: 46vw;
}

.le {
    margin-right: 0.5vh;
    border-bottom: 0.3vh solid black;
    font-family: 'Poppins', sans-serif;
    font-size: 2vh;
    letter-spacing: -0.5px;
    text-align: left;
    margin-top: 0.6vh;
    height: 2.5vh;
    line-height: 2.5vh;
}

.create_site {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5vh;
    font-weight: 100;
    letter-spacing: -0.5px;
    text-align: left;
    margin: 0;
    padding: 0;
}

.box-header-bot {
    padding-top: 2vh;
    display: flex;
}

.Leria {
    font-size: 6vh;
    font-family: 'Poppins', sans-serif;
    line-height: 6vh;
    font-weight: 400;
}

.btn_decouvrir_site {
    margin-top: 2.4vh;
    padding: 0.2vh 4vh 0.2vh 4vh;
    background-color: #2D3435;
    border: 3px solid #2D3435;
    border-radius: 50px;
    color: white;
    transition: color, background-color ease;
    transition-duration: .3s;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6vh;
}

.btn_decouvrir_site:hover {
    background-color: transparent;
    color: #2D3435;
    border: 3px solid #2D3435;
}

/*3 paragraphe en dessous du header*/
.box_p-bot-header {
    padding-top: 6vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

h3 {
    margin-top: 3vh;
    margin-bottom: 0.8vh;
    text-transform: uppercase;
}

.p-bot-header {
    font-family: 'Poppins', sans-serif;
    font-size: 2vh;
    font-weight: 100;
    color: #2D3435;
    text-align: left;
    line-height: 2.4vh;
}

.background-white {
    background-color: #ffffff;
    margin: 0;
    padding-left: 5vw;
    padding-right: 5vw;
}

.titre_rose {
    margin-top: 4vh;
    margin-bottom: 1vh;
    font-size: 3vh;
    font-weight: 500;
    color: #F4B6C2;
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
}

.text-corp,
.text-corp_white {
    font-family: 'Poppins', sans-serif;
    font-size: 2vh;
    font-weight: 400;
    color: #2D3435;
    text-align: left;
    margin-top: 1vh;
    line-height: normal;
    padding-bottom: 2.4vh;
    letter-spacing: -0.5px;
}

.text-corp_white {
    color: #fff;
}

.box-logo-leria {
    display: flex;
    width: 100%;
}

.logo_leria {
    width: 90%;
    margin: auto;
    margin-top: 4vh;
}


.box-img_wireframes {
    text-align: center;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.img_wireframes {
    width: 90%;
}

.background_dark {
    background-color: #2D3435;
    padding-top: 1vw;
    padding-right: 5vw;
    padding-bottom: 5vw;
    padding-left: 5vw;
}

.box-img-page-principale-leria {
    display: flex;
    margin-bottom: 5vw;
}

.img-page-principale-leria {
    border-radius: 3%;
    width: 100%;
    margin: auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.box-img-page-presentation-leria {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 5vw;
}

.img-page-presentation-leria {
    width: 45%;
    border-radius: 3%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}