body {
    margin: 0;
    padding: 0;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

.fjaune {
    background-color: #FFFAEF;
    height: 100vh;
}

.container-header {
    padding-left: 9vw;
    padding-right: 9vw;
    display: block;
    text-align: center;
}
.header {
    width: 37vh;
    margin-top: 4vh;
    text-align: left;
}

.header-title {
    display: block;
    height: 14vh;
    flex: 1;
    color: #2D3435;
    font-family: Poppins;
}

.hello {
    font-size: 4vh;
    padding: 0;
    margin: 0;
    line-height: 4.4vh;
    font-weight: 600;
}

.vertical-p-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
}

.vertical-p {
    margin-top: 1.4vh;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 1.9vh;
    line-height: 2.4vh;
    font-weight: 600;
    border-left: 0.5vh solid #2D3435;
    padding-left: 1.3vh;
}

.horizontal-h1 {
    writing-mode: horizontal-tb;
    display: inline-block;
    font-size: 8.4vh;
    font-weight: 700;
    line-height: 8.8vh;
    margin-left: 1.3vh;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
}

.button-container button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 1.6vh;
    font-weight: 400;
    text-align: center;
    white-space: normal;
    color: #fff;
    background-color: #897C9A;
    border-radius: 500px;
    padding: 0.8vh 1vh 0.8vh 1vh;
    border: transparent;
    transition-property: background-color, border-color, color, box-shadow, filter;
    transition-duration: .3s;
}

.bio {
    text-align: left;
    margin-top: 3vh;
    font-size: 1.9vh;
    letter-spacing: -0.5px;
    line-height: 2.6vh;
}

.manon-enfant {
    width: 32vh;
    margin-top: 3vh;
}