body {
    margin: 0;
    padding: 0;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
}

.fjaune {
    background-color: #FFFAEF;
    height: 100vh;
}

/*header*/
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5vh;
}

.box-img-header {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.img-manon-acc {
    margin: auto;
    width: 75vw;
}

.int-header {
    display: block;
    margin: auto;
    margin-top: 5vh;
    width: 90vw;
}

.hello {
    font-size: 10vw;
    padding: 0;
    margin: 0;
    margin-top: 3vh;
    margin-left: 1vw;
    font-weight: 700;
    color: #2D3435;
}

.vertical-p-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 0.5vw;
    padding: 0;
}

.vertical-p {
    position: relative;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 5svw;
    margin: 0;
    margin-top: 1vw;
    font-weight: 700;
    color: #2D3435;
    border-left: 1.2vw solid #2D3435;
    padding-left: 1.2vw;
    opacity: 0.99;
    z-index: 1;
}

.horizontal-h1 {
    writing-mode: horizontal-tb;
    display: inline-block;
    padding-left: 4vw;
    margin-left: 4vw;
    padding: 0;
    font-size: 20vw;
    font-weight: 700;
    line-height: 0.8;
    color: #2D3435;
    font-style: normal;
}

.button-container {
    margin-top: 2vh;
    display: flex;
    justify-content: space-between;
}

.button-container button {
    justify-content: space-between;
    outline: none;
    font-size: 3.9vw;
    font-weight: 300;
    line-height: 1;
    border-radius: 500px;
    white-space: normal;
    text-align: center;
    padding: 1.4vw 1.4vw 4.6vw 1.4vw;
    color: #fff;
    background-color: #F4B6C2;
    height: 4vw;
    border: solid 0.2vw #F4B6C2;
}

.btn-2-acc {
    margin-left: 1.5vw;
}

.f-project {
    height: 614vw;
    width: 100%;
    padding-top: 2vw;
}

.box-h2projet {
    height: 14vw;
    width: 45vw;
    display: flex;
    padding: 0;
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: 6vw;
}

.box-mes {
    border-bottom: 1vw solid #F4B6C2;
    height: 9vw;
}

.txt-mes {
    font-size: 6vw;
    margin: 0;
    padding: 0;
    color: #F4B6C2;
}

.projets {
    color: #F4B6C2;
    font-size: 9vw;
    margin: 0;
    padding: 0;
    margin-left: 1vw;
    line-height: 11vw;
}

/*Container cartes projets*/
.container-projects-cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    width: 100%;
}

/*Box pour regroupper img, h3, p et btn*/
.box-card {
    width: 90vw;
    height: 90vw;
    background-color: transparent;
    margin: auto;
    margin-bottom: 10vw;
}

/* Style cartes */
.project-img {
    width: 90vw;
    height: 60vw;
    border-radius: 3vw;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease;
}

.project-img:hover {
    transform: scale(1.02);
}

/*Titres des projets*/
.project-title {
    color: #2D3435;
    font-family: Poppins;
    font-size: 9vw;
    font-weight: 700;
    letter-spacing: -0.2vw;
    height: 12vw;
}
/*Sous titres des projets*/
.project-subtitle {
    color: #2D3435;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 5vw;
    font-weight: 500;
    letter-spacing: -0.2vw;
    margin: 0;
    padding: 0;
}

/*Container des boutons en dessous des projets*/
.container-btn-projects-cards {
    margin-top: 0.4vw;
    width: 90vw;
    display: flex;
    justify-content: space-between;
}

/*Liens boutons*/

a {
    text-decoration: none;
}

/*Boutons en dessous des projets*/
.projects-buttons-left {
    border-radius: 1.5vw;
    border: solid 0.2vw #F4B6C2;
    background-color: #F4B6C2;
    color: #ffffff;
    cursor: pointer;
    font-size: 3vw;
    line-height: 6vw;
    font-family: Poppins;
    width: 45vw;
    height: 6vw;
    transition: background-color 0.3s, color 0.3s ease;
}

.projects-buttons-right {
    border-radius: 1.5vw;
    border: solid 0.2vw #F4B6C2;
    background-color: #F4B6C2;
    color: #ffffff;
    cursor: pointer;
    font-size: 3vw;
    line-height: 6vw;
    font-family: Poppins;
    width: 35vw;
    height: 6vw;
    transition: background-color 0.3s, color 0.3s ease;
}

.projects-buttons-left:hover,
.projects-buttons-right:hover {
    background-color: transparent;
    color: #F4B6C2;
}

/*Footer*/
footer {
    text-align: center;
    height: 15vh;
    background-color: #2D3435;
}

.btn-cv-footer {
    cursor: pointer;
    font-size: 3.5vw;
    font-weight: 400;
    border-radius: 500px;
    transition-property: background-color, border-color, color, box-shadow, filter;
    transition-duration: 0.3s;
    text-align: center;
    color: #fff;
    background-color: #F4B6C2;
    height: 2vw;
    border: solid 0.2vw #F4B6C2;
    margin-top: 2vh;
    width: 40vw;
    height: 8vw;
}

.btn-cv-footer:hover {
    color: #F4B6C2;
    background-color: #ffffff;
}

.p-footer {
    font-size: 2.8vw;
    margin: 0;
    padding: 1vh;
    color: #ffffff;
}

.img-footer {
    height: 4vw;
    padding: 0;
    margin: 0;
    margin-left: 3vw;
    margin-right: 3vw;
}

.return_button{
    position: fixed;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    border: 1vw solid transparent;
    background-color: #F4B6C2;
    text-align: center;
    opacity: 0;
    transition: background-color 0.5s ease, color 0.5s ease;
    margin-left: 94vw;
    margin-top: 90.5vh;
    vertical-align: middle;
}

.return-arrow {
    width: 2vw;
}

.return_button:hover{
    border-color: #F4B6C2;
    color: #F4B6C2;
    background-color: transparent;
    cursor: pointer;
}

.return_button.visible{
    opacity: 1;
}
