* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.header-background {
    background-color: #FFFAEF;
    height: 100vh;
}

.header {
    margin-top: 10vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

.box-top-header {
    display: flex;
    height: 3vh;
    padding: 0;
}

.le {
    margin-right: 0.5vh;
    border-bottom: 0.3vh solid black;
    font-family: 'Poppins', sans-serif;
    font-size: 2vh;
    letter-spacing: -0.5px;
    text-align: left;
    margin-top: 0.6vh;
    height: 2.5vh;
    line-height: 2.5vh;
}

.create_site {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5vh;
    font-weight: 100;
    letter-spacing: -0.5px;
    text-align: left;
    margin: 0;
    padding: 0;
}

.box-header-bot {
    padding-top: 2vh;
    display: flex;
}

.Leria {
    font-size: 6vh;
    font-family: 'Poppins', sans-serif;
    line-height: 6vh;
    font-weight: 400;
}

.btn_decouvrir_site {
    margin-top: 2.4vh;
    padding: 0.2vh 4vh 0.2vh 4vh;
    background-color: #2D3435;
    border: 3px solid #2D3435;
    border-radius: 50px;
    color: white;
    transition: color, background-color ease;
    transition-duration: .3s;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6vh;
}

.btn_decouvrir_site:hover {
    background-color: transparent;
    color: #2D3435;
    border: 3px solid #2D3435;
}

/*3 paragraphe en dessous du header*/
.box_p-bot-header {
    padding-top: 6vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

h3 {
    margin-top: 3vh;
    margin-bottom: 0.8vh;
}

.p-bot-header {
    font-family: 'Poppins', sans-serif;
    font-size: 2vh;
    font-weight: 100;
    color: #2D3435;
    text-align: left;
    line-height: 2.4vh;
}

/*Image d'éolienne en dessous du tableau*/
.img-eolienne {
    width: 100%;
}

/*fond blanc avec padding, de projet jusqu'à la fin de wireframe*/
.background-white {
    background-color: #ffffff;
    margin: 0;
    padding-left: 5vw;
    padding-right: 5vw;
}

/*Titre projet et autres titre de même style*/
.box-h2 {
    height: 6vh;
    display: flex;
    padding: 0;
    margin-top: 4vh;
}

.box-le {
    border-bottom: 0.3vh solid #897C9A;
    margin-top: 1vh;
    margin-right: 1vh;
    height: 3.2vh;
}

.txt-le {
    font-size: 2.4vh;
    margin: 0;
    padding: 0;
    color: #897C9A;
    font-family: 'Poppins', sans-serif;
}

.titre_rose {
    font-size: 4vh;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #897C9A;
    font-family: 'Poppins', sans-serif;
}

/*Style du texte utilisé par exemple pour Qu'est ce que LERIA ?*/
.text-corp {
    font-family: 'Poppins', sans-serif;
    font-size: 2vh;
    font-weight: 100;
    color: #2D3435;
    text-align: left;
    margin-top: 1vh;
    line-height: 2.4vh;
    padding-bottom: 2.4vh;
}

.box-logo-leria {
    display: flex;
    width: 100%;
}

.logo_leria {
    width: 90%;
    margin: auto;
    margin-top: 4vh;
}


.box-img_wireframes {
    text-align: center;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.img_wireframes {
    width: 90%;
}

.background_rose {
    background-color: #FFFAEF;
    padding-top: 1vw;
    padding-right: 5vw;
    padding-bottom: 5vw;
    padding-left: 5vw;
}

.box-img-page-principale-leria {
    display: flex;
    margin-bottom: 5vw;
}

.img-page-principale-leria {
    border-radius: 3%;
    width: 100%;
    margin: auto;
}

.box-img-page-presentation-leria {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 5vw;
}

.img-page-presentation-leria {
    width: 45%;
    border-radius: 3%;
}