/*Reset CSS presets et smooth scroll*/
* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

/*Header*/
.header-background {
    background-color: #FFFAEF;
    height: 100vh;
}

.hero {
    padding-left: 7vw;
    margin-top: 10vh;
}

.box-top-hero {
    display: flex;
    height: 3.5vh;
    padding: 0;
}

.le {
    margin-right: 0.6vh;
    border-bottom: 0.2vh solid black;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vh;
    letter-spacing: -0.5px;
    text-align: left;
    margin-top: 0.9vh;
    height: 2.1vh;
}

.hero_subtitle {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5vh;
    font-weight: 100;
    letter-spacing: -0.5px;
    text-align: left;
    margin: 0;
    padding: 0;
}

.hero-h1 {
    font-size: 5vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.bot-header {
    padding-left: 7vw;
    padding-right: 7vw;
    margin-top: 20vw;
}

h3 {
    font-size: 2.5vh;
    line-height: 3vh;
    margin-top: 5vh;
}

.text-header {
    font-family: 'Poppins', sans-serif;
    font-size: 2vh;
    font-weight: 400;
    color: #2D3435;
    text-align: left;
    margin-top: 1vh;
    line-height: 3.5vh;
}

/*fond blanc avec padding, de projet jusqu'à la fin de wireframe*/
.background-white {
    background-color: #ffffff;
    margin: 0;
    padding-left: 7vw;
    padding-right: 7vw;
}

/*Bannières et autres images faisant 100% de la largeur de leur emplacement*/
.banniere {
    width: 100%;
}

/*Titre projet et autres titre de même style*/
.box-h2 {
    height: 7vw;
    display: flex;
    padding: 0;
    margin-top: 3vh;
    padding-bottom: 2vh;
}

.box-le {
    border-bottom: 0.6vw solid #F4B6C2;
    margin-top: 1.6vw;
    height: 6vw;
}

.txt-le {
    font-size: 4vw;
    margin: 0;
    padding: 0;
    color: #F4B6C2;
    font-family: 'Poppins', sans-serif;
}

.titre_rose {
    font-size: 8vw;
    font-weight: 100;
    line-height: 10vw;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    color: #F4B6C2;
    font-family: 'Poppins', sans-serif;

}

/*Style du texte de corp*/
.text-corp {
    font-family: 'Poppins', sans-serif;
    font-size: 4.05vw;
    font-weight: 400;
    color: #2D3435;
    text-align: left;
    margin-top: 5vw;
    line-height: 7vw;
    padding-bottom: 5vw;
}

/*Emblème iconique*/
.embleme {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3vw;
    font-weight: 100;
    color: #2D3435;
    margin-top: 4vh;
    margin-bottom: 4vh;
    line-height: 1.8vw;
    padding-bottom: 3vw;
}

.embleme-img {
    width: 16vw;
}

/*Couleur pour les descriptions de chaque crocos*/
.color-rose {
    color: #DF98C2;
}

.color-jaune {
    color: #FAE514;
}

.color-rouge {
    color: #CA123C;
}

.color-vert {
    color: #105E35;
}

/* Box images de démonstrations en lignes*/
.box_img-flex2 {
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: space-between;
    padding-left: 20vw;
    padding-right: 20vw;
    margin-bottom: 5vw;
} 

.box_img-flex3 {
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: space-between;
    padding-left: 8.9vw;
    padding-right: 8.9vw;
    margin-bottom: 5vw;
} 

.box_img-flex4 {
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: space-between;
    padding-left: 3.4vw;
    padding-right: 3.4vw;
    margin-bottom: 5vw;
}

/*Images de démonstrations en lignes*/
.img-flex {
    width: 17vw;
}

/*Séparation de l'écran en 2 pour Selectionner et En détails*/
.two-columns {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.column {
    width: 45%;
}

.column div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.img-2columns {
    width: 17vw;
}