@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  margin: auto;
}

.navbar {
  width: 100%;
	height: 60px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #0e2431;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover{
  text-decoration: underline;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 7vw;
  width: 12vw;
  top: 1rem;
  right: 2vw;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 7vw;
  width: 12vw;
  position: absolute;
  top: 1rem;
  right: 2vw;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-txt {
  font-size: 4vw;
  width: 12vw;
}

.navbar .menu-items {
  position: absolute;
  padding-top: 12vh;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  height: 100vh;
  width: 110%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  background-color: #ffffff;
  z-index: 3;
  top: 0;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1rem;
  font-weight: 500;
}

.btn-cv,
.btn-behance,
.btn-linkedin {
    border-radius: 2vw;
    border: none;
    background-color: #000;
    position: absolute;
}

.btn-cv {
  color: white;
  font-size: 4vw;
  text-align: center;
  height: 7vw;
  width: 20vw;
  top: 2vh;
  left: 7vw;
}

.btn-behance,
.btn-linkedin {
    height: 7vw;
    width: 7vw;
}

.btn-linkedin {
  background-image: url(../../data/imgs/all/logo-linkedin.png);
  background-position: 50% 35%;
  background-size: 55%;
  background-repeat: no-repeat;
  top: 2vh;
  left: 30vw;
}

.btn-behance {
  background-image: url(../../data/imgs/all/logo-behance.png);
  background-position: 50% 50%;
  background-size: 70%;
  background-repeat: no-repeat;
  top: 2vh;
  left: 39.5vw;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}