* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


.header-background {
    background-color: #FFFAEF;
    height: 100vh;
}

.header {
    display: block;
    align-items: center;
    padding-left: 5vw;
}

.box-top-header {
    display: flex;
    padding-top: 20vh;
    height: 4vh;
    padding: 0;
}

.le {
    margin-right: 0.6vw;
    border-bottom: 0.6vh solid black;
    font-family: 'Poppins', sans-serif;
    font-size: 3.1vh;
    letter-spacing: -0.5px;
    text-align: left;
    margin-top: 1vh;
    height: 3.5vh;
}

.create_site {
    font-family: 'Poppins', sans-serif;
    font-size: 5vh;
    font-weight: lighter;
    letter-spacing: -0.5px;
    text-align: left;
    margin: 0;
    padding: 0;
}

.box-header-bot {
    padding-top: 2vh;
    display: flex;
}

.GFA_Funding {
    font-size: 10vh;
    font-family: 'Poppins', sans-serif;
}

.btn_decouvrir_site {

    padding: 0.7vw;
    background-color: #2D3435;
    border: 3px solid #2D3435;
    border-radius: 50px;
    color: white;
    transition-duration: .3s;
    font-family: 'Poppins', sans-serif;
    margin-top: 4vh;
    font-size: 1.5vw;
}

.btn_decouvrir_site:hover {
    background-color: transparent;
    color: #2D3435;
    border: 3px solid #2D3435;

}



/* Tableau */
.t1 {
    width: 90%;
    margin: 0 auto;
    border-spacing: 3vh;
    margin-top: 10vh;
}

.t1 th {
    width: 30vw;
    font-size: 2vw;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

.t1 td {
    font-size: 1.5vw;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    vertical-align: top;
    line-height: 2vw;
}

td:nth-child(3) {
    text-align: left;
}

th:nth-child(3) {
    text-align: left;
}

.black {
    background-color: #2D3435;
    padding-bottom: 60px;
}

.box-h2projet {
    height: 10vh;
    width: 25%;
    display: flex;
    padding: 0;
    margin-left: 5vw;
    padding-top: 5vw;
}

.box-le {
    border-bottom: 5px solid #F4B6C2;
    margin-top: 0.5vw;
    height: 2.7vw;
}

.txt-le {
    font-size: 2.5vw;
    margin: 0;
    padding: 0;
    color: #F4B6C2;
    font-family: 'Poppins', sans-serif;
}

.titre_rose {
    font-size: 3.5vw;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    color: #F4B6C2;
    font-family: 'Poppins', sans-serif;
}


.projet {
    font-family: 'Poppins', sans-serif;
    font-size: 3vh;
    color: white;
    text-align: left;
    margin-top: 2vh;
    padding-left: 5vw;
    padding-right: 5vw;
    line-height: 5vh;
}

.site_noir {
    font-family: 'Poppins', sans-serif;
    font-size: 3vh;
    color: white;
    text-align: left;
    margin-top: 2vh;
    padding-left: 5vw;
    padding-right: 5vw;
    line-height: 5vh;
}

.site_blanc {
    font-family: 'Poppins', sans-serif;
    font-size: 3vh;
    color: rgb(0, 0, 0);
    text-align: left;
    margin-top: 2vh;
    padding-left: 5vw;
    padding-right: 5vw;
    line-height: 5vh;
}

.text_conclusion{
    font-family: 'Poppins', sans-serif;
    font-size: 3vh;
    color: white;
    text-align: left;
    margin-top: 2vh;
    padding-left: 5vw;
    padding-right: 5vw;
    line-height: 5vh;
}

.flex_logo {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding-left: 6vw;
    padding-top: 6vw;
    padding-right: 6vw;
    align-items: center;
}

.text_logo_leria {
    font-family: 'Poppins', sans-serif;
    width: 50%;
    font-size: 1.5vw;
}

.logo_leria {
    width: 30%;
}


.wireframes {
    display: block;
    text-align: center;
}

.text_logo_wireframes {
    margin-top: 2vw;
    width: 90%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5vw;
    font-family: 'Poppins', sans-serif;

}

.logo_wireframes {
    margin-top: 3vw;
    width: 60%;

}

.img_renouvelable_immobilier {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 15vw;
    margin-bottom: 10vw;
}

.image_container {
    width: 35%;
    text-align: center;
}

.logo_renouvelable{
    width: 90%;
}
.logo_imobilier {
    width: 90%;
}

.footer{
    text-align: center;
    margin-top: 6vh;
    margin-bottom: 2vh;
}

.btn_footer_manon{
    padding: 0.7vw;
    background-color: #F4B6C2;
    border: 3px solid #F4B6C2;
    border-radius: 50px;
    color: white;
    transition-duration: .3s;
    font-family: 'Poppins', sans-serif;
    margin-top: 4vh;
    font-size: 1.5vw;
    margin-bottom: 1vh;
}

.btn_footer_manon:hover {
    background-color: transparent;
    color: #F4B6C2;
    border: 3px solid #F4B6C2;

}

.text_footer_manon{
    margin-bottom: 3vh;
}

.logo_footer_manon{
    margin-left: 10px;
    margin-left: 10px;
}