@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*Reset CSS presets et smooth scroll*/
* {
    margin: 0;
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

/*Header*/
.header-background {
    background-color: #FFFAEF;
    padding-bottom: 3vh;
}

.header {
    padding-left: 4vw;
    margin-top: 3vh;
}

.flex {
    display: flex;
    align-items: center;
}

.box-top-header {
    display: flex;
    height: 4vh;
    padding: 0;
}

.le {
    margin-right: 0.6vw;
    border-bottom: 0.5vh solid black;
    font-family: 'Poppins', sans-serif;
    font-size: 3.5vh;
    letter-spacing: -0.5px;
    text-align: left;
    margin-top: 1.2vh;
    height: 4.6vh;
}

.header_subtitle {
    font-family: 'Poppins', sans-serif;
    font-size: 4.8vh;
    font-weight: 400;
    letter-spacing: -0.5px;
    text-align: left;
    margin: 0;
    padding: 0;
}

.box-header-bot {
    padding-top: 2vh;
    display: flex;
}

.header-h1 {
    font-size: 9.6vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

.embleme-header {
    height: 18vh;
    margin-left: 5vw;
}

.hero-btn_behance {
    background-color: #2D3435;
    border: none;
    color: #fff;
    width: 30vh;
    height: 4.6vh;
    text-align: center;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 2.5vh;
    line-height: 4vh;
    border-radius: 0.8vh;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 3vh;
}

/*Emblème iconique*/
.embleme {
    text-align: center;
    margin-top: 2vw;
    padding-bottom: 3vw;
}

.embleme-img {
    width: 16vw;
}

.embleme>p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3vw;
    font-weight: 600;
    color: #2D3435;
    line-height: 1.8vw;
}

/*Couleur pour les descriptions de chaque crocos*/
.color-rose {
    color: #DF98C2;
}

.color-jaune {
    color: #FAE514;
}

.color-rouge {
    color: #CA123C;
}

.color-vert {
    color: #105E35;
}

/* Box images de démonstrations en lignes*/
.box_img-flex2 {
    display: flex;
    text-align: center;
    width: 45%;
    justify-content: space-between;
    padding-left: 18vw;
    padding-right: 18vw;
    margin-bottom: 5vw;
} 

.box_img-flex3 {
    display: flex;
    text-align: center;
    width: 62%;
    justify-content: space-between;
    padding-left: 12vw;
    padding-right: 12vw;
    margin-bottom: 5vw;
} 

.box_img-flex4 {
    display: flex;
    text-align: center;
    width: 80%;
    justify-content: space-between;
    padding-left: 7vw;
    padding-right: 7vw;
    margin-bottom: 5vw;
}

/*Images de démonstrations en lignes*/
.img-flex {
    width: 10.6vw;
}

.img-flex,
.img-2columns {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 0.8vw;
}

/*Séparation de l'écran en 2 pour Selectionner et En détails*/
.two-columns {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.column {
    width: 45%;
}

.column div {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.img-2columns {
    width: 10.6vw;
}