html{
    scroll-behavior: smooth;
}

nav {
    width: 100%;
    padding-top: 3vh;
    padding-bottom: 3vh;
    text-align: center;
    text-decoration: none;
}

.nav-btn-txt {
    border: none;
    font-size: 1vw;
    font-weight: 400;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    color: black;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
    margin-right: 2.5vw;
    margin-left: 2.5vw;
}

.nav-btn-txt:hover {
    text-decoration: underline;
}

/*
.btn-cv,
.btn-behance,
.btn-linkedin {
    border-radius: 50vw;
    border: none;
    background-color: #2D3435;
    cursor: pointer;
    transition-property: background-color, border-color, color, box-shadow, filter;
    transition-duration: 0.3s;
    margin-right: 1.5vw;
    color: white;
    font-size: 1vw;
    text-align: center;
}

.btn-cv {
    height: 2vw;
    width: 5vw;
}

.btn-behance,
.btn-linkedin {
    height: 2vw;
    width: 2vw;
}

.btn-behance {
    background-image: url(../imgs/all/logo-behance.png);
    background-position: 50% 50%;
    background-size: 70%;
    background-repeat: no-repeat;
}

.btn-linkedin {
    background-image: url(../imgs/all/logo-linkedin.png);
    background-position: 50% 35%;
    background-size: 55%;
    background-repeat: no-repeat;
}

.btn-cv:hover {
    background-color: lightgray;
    color: #2D3435;
    cursor: pointer;
}

*/