* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


.header-background {
    background-color: #FFFAEF;
    height: 100vh;
}

.header {
    display: block;
    align-items: center;
    padding-left: 5vw;
}

.box-top-header {
    display: flex;
    padding-top: 20vh;
    height: 4vh;
    padding: 0;
}

.le {
    margin-right: 0.6vw;
    border-bottom: 0.6vh solid black;
    font-family: 'Poppins', sans-serif;
    font-size: 3.1vh;
    letter-spacing: -0.5px;
    text-align: left;
    margin-top: 1vh;
    height: 3.5vh;
}

.create_logo {
    font-family: 'Poppins', sans-serif;
    font-size: 5vh;
    font-weight: lighter;
    letter-spacing: -0.5px;
    text-align: left;
    margin: 0;
    padding: 0;
}    

.box-header-bot {
    padding-top: 2vh;
    display: flex;
}

.GFA_Funding {
    font-size: 10vh;
    font-family: 'Poppins', sans-serif;
}    



/* Tableau */
.t1 {
    width: 90%;
    margin: 0 auto;
    border-spacing: 3vh;
    margin-top: 10vh;
}

.t1 th {
    width: 30vw;
    font-size: 2vw;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

.t1 td {
    font-size: 1.5vw;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    vertical-align: top;
    line-height: 2vw;
}

td:nth-child(3) {
    text-align: center;
}

th:nth-child(3) {
    text-align: center;
  }

  .black{
    background-color: #2D3435;
    padding-bottom: 60px;
}

.box-h2projet {
    height: 10vh;
    width: 25%;
    display: flex;
    padding: 0;
    margin-left: 5vw;
    padding-top: 5vw;
}

.box-le {
    border-bottom: 5px solid #F4B6C2;
    margin-top: 0.5vw;
    height: 2.7vw;
}

.txt-le {
    font-size: 2.5vw;
    margin: 0;
    padding: 0;
    color: #F4B6C2;
    font-family: 'Poppins', sans-serif;
}
.projet {
    font-size: 3.5vw;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    color: #F4B6C2;
    font-family: 'Poppins', sans-serif;
}


.comprendre_GFA{
    font-family: 'Poppins', sans-serif;
    font-size: 2vh;
    color: white;
    text-align: left;
    margin-top: 2vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

.img_feuille{
    padding-top: 60px;
    display: block;
    margin: auto;
    width: 50%;
}