/*Reset CSS presets et smooth scroll*/
* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

/*Header*/
.header-background {
    background-color: #FFFAEF;
    height: 100vh;
}

.header {
    padding-left: 5vw;
}

.box-top-header {
    display: flex;
    height: 4vh;
    padding: 0;
}

.le {
    margin-right: 0.6vw;
    border-bottom: 0.5vh solid black;
    font-family: 'Poppins', sans-serif;
    font-size: 3.5vh;
    letter-spacing: -0.5px;
    text-align: left;
    margin-top: 1.2vh;
    height: 4.6vh;
}

.p2-header {
    font-family: 'Poppins', sans-serif;
    font-size: 5vh;
    font-weight: 100;
    letter-spacing: -0.5px;
    text-align: left;
    margin: 0;
    padding: 0;
}

.box-header-bot {
    padding-top: 2vh;
    display: flex;
}

.header-h1 {
    font-size: 10vh;
    font-family: 'Poppins', sans-serif;
}

/*Tableau en bas du header*/
.t1 {
    width: 100%;
    margin: 0 auto;
    margin-top: 28vh;
}

.t1 th {
    font-size: 1.5vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 0vh 4vw 2vh 4vw;
    text-align: left;
}

.t1 td {
    font-size: 1.2vw;
    font-family: 'Poppins', sans-serif;
    vertical-align: top;
    line-height: 3.6vh;
    font-weight: 100;
    padding: 2vh 4vw 0vh 4vw;
}

.title-table1 {
    width: 42.5vw;
}

.title-table2 {
    width: 32.5vw;
}

.title-table3 {
    width: 15vw;
}


td:nth-child(3) {
    text-align: left;
}

th:nth-child(3) {
    text-align: left;
}

/*fond blanc avec padding, de projet jusqu'à la fin de wireframe*/
.background-white {
    background-color: #ffffff;
    margin: 0;
    padding-left: 15vw;
    padding-right: 15vw;
}

/*Titre projet et autres titre de même style*/
.box-h2 {
    height: 10vh;
    display: flex;
    padding: 0;
    margin-top: 1vw;
    padding-bottom: 1vw;
}

.box-le {
    border-bottom: 0.3vw solid #F4B6C2;
    margin-top: 0.8vw;
    height: 2.8vw;
}

.txt-le {
    font-size: 2vw;
    margin: 0;
    padding: 0;
    color: #F4B6C2;
    font-family: 'Poppins', sans-serif;
}

.titre_rose {
    font-size: 3.5vw;
    font-weight: 100;
    line-height: 5vw;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    color: #F4B6C2;
    font-family: 'Poppins', sans-serif;

}

/*Style du texte de corp*/
.text-corp {
    font-family: 'Poppins', sans-serif;
    font-size: 1.06vw;
    font-weight: 100;
    color: #2D3435;
    text-align: left;
    line-height: 1.7vw;
}

p {
    font-family: 'Poppins', sans-serif;
    color: #2D3435;
    font-size: 1vw;
}

.flex_stat {
    display: flex;
    justify-content: space-between;
    padding: 2vw 6vw 2vw 6vw;
}

.stat,
.stat_border {
    width: 25vw;
    display: block;
    text-align: center;
}

.stat_border {
    border-left: #2D3435 0.15vw solid;
    border-right: #2D3435 0.15vw solid;
}

.tall_stat {
    font-size: 3vw;
}
.tall-pink_stat {
    font-size: 4vw;
    color: #F4B6C2;
}

img {
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.empathy-map {
    width: 90%;
    margin-left: 5%;
}

.img-menu {
    width: 40%;
    margin-left: 30%;
}

.img-page-reconditionne {
    width: 90%;
    margin-left: 5%;
}

.img-listing {
    width: 65%;
    margin-left: 17.5%;
}

.img-page-produit-reconditionne {
    width: 100%;
}

.img-page-produit-neuf-avec-reconditionne {
    width: 40%;
    margin-left: 30%;
}