@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*Reset CSS presets et smooth scroll*/
* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

/*Header*/
.header-background {
    background-color: #FFFAEF;
    height: 84vh;
}

.header {
    padding-left: 4vw;
    margin-top: 3vh;
}

.box-top-header {
    display: flex;
    align-items: center;
}

.le {
    margin-right: 0.6vw;
    border-bottom: 0.5vh solid black;
    font-family: 'Poppins', sans-serif;
    font-size: 3.5vh;
    letter-spacing: -0.5px;
    text-align: left;
    height: 4.6vh;
}

.p2-header {
    font-family: 'Poppins', sans-serif;
    font-size: 4.8vh;
    font-weight: 400;
    letter-spacing: -0.5px;
    text-align: left;
    margin: 0;
    padding: 0;
}

.box-header-bot {
    display: flex;
}

.header-h1 {
    font-size: 9.6vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

.hero-btn_behance {
    background-color: #2D3435;
    border: none;
    color: #fff;
    width: 30vh;
    height: 4.6vh;
    text-align: center;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 2.5vh;
    line-height: 4vh;
    border-radius: 0.8vh;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 3vh;
}

/*Tableau en bas du header*/
.t1 {
    width: 100%;
    margin: 0 auto;
    margin-top: 6vh;
    border-collapse: collapse;
}

.t1 th {
    font-size: 1.5vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: 0vh 4vw 2vh 4vw;
    text-align: left;
}

.t1 td {
    font-size: 1.1vw;
    font-family: 'Poppins', sans-serif;
    vertical-align: top;
    line-height: 3.2vh;
    font-weight: 300;
    padding: 2vh 4vw 0vh 4vw;
}

.title-table1 {
    width: 42.5vw;
}

.title-table2 {
    width: 32.5vw;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
}

.title-table3 {
    width: 15vw;
}

.title-table1,
.title-table2,
.title-table3 {
    text-transform: uppercase;
}

.td-mid {
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
}

td:nth-child(3) {
    text-align: left;
}

th:nth-child(3) {
    text-align: left;
}

/*fond blanc avec padding, de projet jusqu'à la fin de wireframe*/
.background-white {
    background-color: #ffffff;
    margin: 0;
    padding-left: 15vw;
    padding-right: 15vw;
}

/*Titre projet et autres titre de même style*/
.box-h2 {
    height: 10vh;
    display: flex;
    padding: 0;
    margin-top: 1vw;
    padding-bottom: 1vw;
}

.box-le {
    border-bottom: 0.3vw solid #F4B6C2;
    margin-top: 0.8vw;
    height: 2.8vw;
}

.txt-le {
    font-size: 2vw;
    margin: 0;
    padding: 0;
    color: #F4B6C2;
    font-family: 'Poppins', sans-serif;
}

.titre_rose {
    font-size: 3.5vw;
    font-weight: 500;
    line-height: 5vw;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    color: #F4B6C2;
    font-family: 'Poppins', sans-serif;

}

/*Style du texte de corp*/
.text-corp {
    font-family: 'Poppins', sans-serif;
    font-size: 1.06vw;
    font-weight: 400;
    color: #2D3435;
    text-align: left;
    line-height: 1.7vw;
}

p {
    font-family: 'Poppins', sans-serif;
    color: #2D3435;
    font-size: 1vw;
}

.flex_stat {
    display: flex;
    justify-content: space-between;
    padding: 2vw 6vw 2vw 6vw;
}

.stat,
.stat_border {
    width: 25vw;
    display: block;
    text-align: center;
}

.stat_border {
    border-left: #2D3435 0.15vw solid;
    border-right: #2D3435 0.15vw solid;
}

.tall_stat {
    font-size: 3vw;
}
.tall-pink_stat {
    font-size: 4vw;
    color: #F4B6C2;
}

img {
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.empathy-map {
    width: 90%;
    margin-left: 5%;
}

.img-menu {
    width: 40%;
    margin-left: 30%;
}

.img-page-reconditionne {
    width: 90%;
    margin-left: 5%;
}

.img-listing {
    width: 65%;
    margin-left: 17.5%;
}

.img-page-produit-reconditionne {
    width: 100%;
}

.img-page-produit-neuf-avec-reconditionne {
    width: 40%;
    margin-left: 30%;
}