* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}


/*Herder*/
.header-background {
    background-color: #FFFAEF;
    height: 72vh;
}

.header {
    padding-left: 5vw;
}

.box-top-header {
    display: flex;
    height: 4vh;
    padding: 0;
}

.le {
    margin-right: 0.6vw;
    border-bottom: 0.5vh solid black;
    font-family: 'Poppins', sans-serif;
    font-size: 3.5vh;
    letter-spacing: -0.5px;
    text-align: left;
    margin-top: 1.2vh;
    height: 4.6vh;
}

.p2-header {
    font-family: 'Poppins', sans-serif;
    font-size: 3.5vh;
    font-weight: 100;
    letter-spacing: -0.5px;
    text-align: left;
    margin: 0;
    padding: 0;
}

.box-header-bot {
    padding-top: 2vh;
    display: flex;
}

.Leria {
    font-size: 11vh;
    font-family: 'Poppins', sans-serif;
}

.btn_decouvrir_site {
    background-color: #2D3435;
    color: #fff;
    width: 30vh;
    height: 4.6vh;
    text-align: center;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 2.5vh;
    line-height: 4vh;
    border-radius: 0.8vh;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 3vh;
}

.btn_decouvrir_site:hover {
    background-color: transparent;
    color: #2D3435;
    border: 3px solid #2D3435;
}

/* Tableau */
/*Tableau en bas du header*/
.t1 {
    width: 100%;
    margin: 0 auto;
    margin-top: 6vh;
    border-collapse: collapse;
}

.t1 th {
    font-size: 1.5vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: 0vh 4vw 2vh 4vw;
    text-align: left;
}

.t1 td {
    font-size: 1.2vw;
    font-family: 'Poppins', sans-serif;
    vertical-align: top;
    line-height: 3.6vh;
    font-weight: 300;
    padding: 2vh 4vw 0vh 4vw;
}

.title-table1 {
    width: 42.5vw;
}

.title-table2 {
    width: 32.5vw;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
}

.title-table3 {
    width: 15vw;
}

.title-table1,
.title-table2,
.title-table3 {
    text-transform: uppercase;
    font-weight: bold;
}

.td-mid {
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
}

td:nth-child(3) {
    text-align: left;
}

th:nth-child(3) {
    text-align: left;
}

/*Image d'éolienne en dessous du tableau*/
.img-eolienne {
    width: 100%;
}

/*fond blanc avec padding, de projet jusqu'à la fin de wireframe*/
.background-white {
    background-color: #ffffff;
    margin: 0;
    padding-left: 16vw;
    padding-right: 16vw;
}

/*Titre projet et autres titre de même style*/
.box-h2 {
    margin-top: 1vw;
}

.titre_rose,
.subtitre {
    font-size: 2.5vw;
    font-weight: 500;
    line-height: 2.5vw;
    margin-top: 10vh;
    padding: 0;
    color: #F4B6C2;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin-bottom: 2vh;
}

.subtitre {
    font-size: 2vw;
    text-transform: none;
    margin-bottom: 4vh;
    color: #2D3435;
}

/*Style du texte utilisé par exemple pour Qu'est ce que LERIA ?*/
.text-corp {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2vw;
    font-weight: 100;
    color: #2D3435;
    text-align: left;
    margin-top: 2vw;
    line-height: 1.8vw;
    padding-bottom: 3vw;
}

.box-logo-leria {
    display: flex;
    width: 100%;
}

.logo_leria {
    width: 30%;
    margin: auto;
    margin-top: 4vh;
}


.box-img_wireframes {
    text-align: center;

}

.img_wireframes {
    width: 60%;
}

.background_rose {
    background-color: #FFFAEF;
    padding-top: 1vw;
    padding-right: 16vw;
    padding-bottom: 3vw;
    padding-left: 16vw;
}

.box-img-page-principale-leria {
    display: flex;
    margin-bottom: 5vw;
}

.img-page-principale-leria {
    width: 60vw;
    margin: auto;
}

.box-img-page-presentation-leria {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 5vw;
}

.img-page-presentation-leria,
.img-page-principale-leria {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 0.8vw;
}

.img-page-presentation-leria {
    width: 25vw;
}